<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>ContentVersion</key>
	<string>1.0.1</string>
	<key>Name</key>
	<string>Sliding Puzzle</string>
	<key>Description</key>
	<string>Dive into the world of puzzles while taking stunning photos</string>
	<key>ContentIdentifier</key>
	<string>com.jraufeisen.playgrounds.mybook</string>
	<key>DeploymentTarget</key>
	<string>ios10.0</string>
	<key>ImageReference</key>
	<string>assets/puzzleimage.png</string>
	<key>Chapters</key>
	<array>
		<string>Document1.playgroundchapter</string>
	</array>
</dict>
</plist>
